body {
    background-color: #D6E1F0;
    font-family: 'Outfit', sans-serif;

    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: 10vw;

}

main {

    display: flex;
    flex-direction:column;
    min-width: 35vh;
    max-width: 35vh;
    max-height: 100vh;


    background-color: white;
    margin: auto;
    margin-top:15vh;
    padding: 17px;
    border-radius: 15px;
    padding-bottom: 30px;
    box-shadow: 0px 0px 32px 10px rgba(0,0,0,0.16);

}

img {
    width: 100%;
    border-radius: 15px;
}

.arriba {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.abajo {
    font-size: 16px;
    text-align: center;
    color: rgb(172, 172, 172);
    margin: 0 2px;
}
